<mat-card>
  <mat-card-title>
		 Login
  </mat-card-title>
  <mat-card-content>
  <form class="loginForm">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>  -->
      </mat-form-field>
      <div class="buttons">
        <button (click)=onLogin() mat-raised-button color="primary"> Login </button>
        <button mat-raised-button color="primary" style="margin-left: 50%;"> Register </button>
      </div>
  </form>
  </mat-card-content>
</mat-card>
<!-- <mat-card id="card" style="text-align: center;">
	<mat-card-title>
		login
	</mat-card-title>

	<mat-card-content>

		<mat-form-field>
			<input matInput placeholder="email">
		</mat-form-field><br/>

		<mat-form-field>
			<input matInput placeholder="password">
		</mat-form-field><br/>
		<button mat-raised-button color="primary" style="margin-right:5px;">login</button>
		<button mat-raised-button color="primary" style="margin-right:5px;">register</button>

  </mat-card-content> -->
  